.checkbox-list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-text-inner-color;
}

.checkbox-list-view:focused .list-cell:filled:selected{
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-text-inner-color;
}

.checkbox-list-view:focused .list-cell:filled:focused:selected:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-background-insets: 0;
    -fx-background: -fx-accent;
    -fx-text-fill: -fx-text-inner-color;
}

.checkbox-list-view .list-cell:filled:selected:focused,.checkbox-list-view .list-cell:filled:selected, .checkbox-list-view:horizontal .list-cell:filled:selected {
    -fx-background-color: -fx-control-inner-background;
    -fx-text-fill: -fx-text-inner-color;
}

.checkbox-list-view .list-cell:filled:selected:focused,.checkbox-list-view .list-cell:filled:selected, .checkbox-list-view:horizontal .list-cell:filled:selected {
    -fx-background-color: -fx-control-inner-background;
    -fx-text-fill: -fx-text-inner-color;
}

.checkbox-list-view .list-cell:odd {
    -fx-background-color: -fx-control-inner-background;
}

.checkbox-list-view .list-cell:filled:selected:focused:disabled,.checkbox-list-view .list-cell:filled:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

.checkbox-list-view .list-cell:filled:hover {
    -fx-background-color: -fx-cell-hover-color;
    -fx-text-fill: -fx-text-inner-color;
}

.checkbox-list-view:focused .list-cell:filled:focused:hover {
    -fx-background-color: -fx-control-inner-background;
    -fx-background-insets: 0;
    -fx-text-fill: -fx-text-inner-color;
}

.checkbox-list-view:horizontal .list-cell:filled:selected, .checkbox-list-view:horizontal .list-cell:filled:selected:hover {
    -fx-background-color: -fx-control-inner-background;
}