.root{
	SB_scrollbar-track: derive(-fx-color, 27.5%);
    SB_scrollbar-thumb: derive(-fx-color, -26.3%);
    SB_scrollbar-corner-border: derive(SB_scrollbar-track, -10%);
}
/* ============ SCROLL BARS ================================================= */
.scroll-bar {
    -fx-background-color:
        -fx-outer-border,
        SB_scrollbar-track;
    -fx-background-insets: 0,1;
}
.scroll-bar .track {
    -fx-background-color: null;
}
.scroll-bar .thumb {
    -fx-background-color: SB_scrollbar-thumb;
    -fx-background-insets: 3;
    -fx-background-radius: 5px;
}
.scroll-bar:horizontal .increment-button , .scroll-bar:horizontal .decrement-button{
    -fx-background-color: null;
    -fx-padding: 6 0 6 0;
}
.scroll-bar:vertical .increment-button , .scroll-bar:vertical .decrement-button{
    -fx-background-color: null;
    -fx-padding: 0 6 0 6;
}
.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-background-color: null;
    -fx-padding: 0;
}
.corner {
    -fx-background-color:   SB_scrollbar-corner-border,   SB_scrollbar-track;
    -fx-background-insets: 0,1 0 0 1;
}

/* Scrolbars in ScrollPane */
.scroll-pane > * > .scroll-bar:horizontal {
    -fx-background-insets: 0,1 0 0 0;
    -fx-padding: 0;
}
.scroll-pane > * > .scroll-bar:horizontal .increment-button ,.scroll-pane > * > .scroll-bar:horizontal .decrement-button{
    -fx-background-color: null;
    -fx-padding: 6 0 5 0;
}
.scroll-pane > * > .scroll-bar:horizontal .thumb {
    -fx-background-insets: 3 3 2 3;
}
.scroll-pane > * > .scroll-bar:vertical {
    -fx-background-insets: 0, 0 0 0 1;
    -fx-padding: 0;
}
.scroll-pane > * > .scroll-bar:vertical .increment-button ,.scroll-pane > * > .scroll-bar:vertical .decrement-button{
    -fx-background-color: null;
    -fx-padding: 0 5 0 6;
}
.scroll-pane > * > .scroll-bar:vertical .thumb {
    -fx-background-insets: 3 2 3 3;
}