.deskPane{
	-fx-background-color: #FFFFFF;
	-fx-border-width:1px;
	-fx-border-color:black,#c0c0c0,#dadada;
	-fx-border-insets:0,1,2;
}

.dragPane{
	-fx-border-width:1px;
	-fx-border-color:#2152a0;
	-fx-border-radius:8;
	-fx-background-radius:8;
	-fx-cursor:hand;
}

.addButton{
	-fx-background-color: red;
	-fx-border-width:1px 0px 0px 1px;
	-fx-border-color:black;
	-fx-border-radius:8 0 0 0;
	-fx-background-radius:8 0 0 0;
	-fx-opacity: .5;
	-fx-cursor:hand;
}
.paneTitle{
	-fx-background-color: #c0c0c0;
	-fx-background-radius:8 8 0 0;
	-fx-background-insets:1;
	-fx-border-width:0 0 1 0;
	-fx-border-color:#2152a0,derive(#2152a0,50%);
	-fx-border-insets:0,1;
	-fx-cursor:move;
}