.mainStage{
	-fx-background-radius: 8, 8, 8, 8;
	-fx-border-radius: 8, 8, 8, 8;
	-fx-background-color: #336699;
	-fx-padding:5px;
}

.roundedCorner{
	-fx-background-radius : 10;
	-fx-border-radius : 10;
	-fx-border-color: black,#c0c0c0;
	-fx-border-insets : 0,1;
	-fx-border-width:1px;
}

.node2Button{
	width:50%;
	height:50%;
}