.my-progress-bar .bar { 
	-fx-background-radius: 5; 
}
.my-progress-bar .track { 
    -fx-background-radius: 5; 
}
.my-progress-bar {
    -fx-background-radius: 5;     
}

.red-progress-bar .bar {
	-fx-background-color: red;
}

.blue-progress-bar .bar {
	-fx-background-color: blue;
}

.green-progress-bar .bar {
	-fx-background-color: green;
}

    
