
.triangle-shape{
	-fx-background-color:red;
	-fx-shape: "M 0 0 v 10 l -5 -5 z";
}

.plus-shape{
	-fx-background-color:green;
	-fx-shape: "M 5 0 V 5 H 0 V 10 H 5 V 15 H 10 V 10 H 15 V 5 H 10 V 0 Z";
}
.plus-shape-with-curve{
	-fx-background-color:green;
	/*-fx-shape: "M 6 0 L 5 1 V 5 H 1 L 0 5 V 9 L 1 10 H 5 V 14 L 6 15 H 9 L 10 14 V 10 H 14 L 15 9 V 6 L 14 5 H 10 V 1 L 9 0 Z";*/
	-fx-shape: "m 120,300 l 60,-1 l 20,-20 l 0,-80 l 80,0 l 20,-20 l 0,-60 l -20,-19 l -80,-1 l 0,-80 l -20,-20 l -60,0 l -20,20 l 0,79 l -80,1 l -19,21 l -1,58 l 20,21 l 80,1 l 0,78 l 20,22 z";
}
.rectangle-shape{
	-fx-background-color:red;
	-fx-shape: "M 0 0 V 20 H 40 V 0 z";
}

.square-shape{
	-fx-background-color:red;
	-fx-shape: "M 0 0 V 40 H 40 V 0 z";
}
.octagone-shape{
	-fx-shape: "M 0 0 V 20 L 20 40 H 40 L 60 20 V 0 L 40 -20 H 20 z";
	-fx-background-color: linear (0%,0%) to (0%,100%) stops (0%, derive(red,80%)) (25%, derive(red,40%)) (50%, derive(red,0%)) (98%, derive(red,-20%)) (100%, derive(red,-50%)); /*derive(-fx-base,-10%); #214078;*/
}

.curve-shape{
	-fx-background-color: yellow;
	-fx-shape: "M100,100 C100,0 200,0 200,100 C200,200 100,200 100,100"; /* Ref : http://www.w3.org/TR/SVG/paths.html */
}
.curve-shape1{
	-fx-shape: "M100,200 C100,100 250,100 250,200 S400,300 400,200";
	-fx-background-color: linear (0%,0%) to (0%,100%) stops (0%, derive(red,80%)) (25%, derive(red,40%)) (50%, derive(red,0%)) (98%, derive(red,-20%)) (100%, derive(red,-50%)); /*derive(-fx-base,-10%); #214078;*/
}
.circle-shape{
	-fx-background-color: black;
	-fx-shape: "M100,200 C100,100 250,100 250";
	}
	
.circle-arc-shape{
	-fx-background-color: black;
	-fx-shape: "M 100, 100  m -75, 0 a 75,75 0 1,0 150,0 a 75,75 0 1,0 -150,0";
	
	
}

.big-bended-arrow{
	-fx-background-color: black,white;
	-fx-background-insets:0,1;
	-fx-shape: "M 0 60 V 70 L 60 130 L 80 110 L 40 70  V 60 L 80 20 L 60 0 L 0 60 Z";
}
.small-bended-arrow{
	-fx-background-color: white;
	-fx-border-color: black;
	-fx-border-width: 1px;
	-fx-shape: "M 0 6 V 7 L 6 13 L 8 11 L 4 7  V 6 L 8 2 L 6 0 L 0 6 Z";
}
.small-bended-arrow-rect{
	-fx-fill: white;
	-fx-stroke: black;
	-fx-stroke-width: 1px;
	-fx-shape: "M 0 6 V 7 L 6 13 L 8 11 L 4 7  V 6 L 8 2 L 6 0 L 0 6 Z";
}