.tokenInput{
	-fx-background-color:white;
	-fx-border-width:1px;
	-fx-border-color:#919191;
	-fx-border-radius:3;
	-fx-background-radius:3;
	-fx-border-style:solid;
}

.tokenInput-text-field, .tokenInput-text-field:focused {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 5 5 5 5;
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
    -fx-cursor: text;
}

.drop-shadow{
	-fx-effect: dropshadow( two-pass-box  , rgba(0,0,0,0.6) , 14, 0.0 , 0 , 0 );
}